@charset "utf-8";

:root {
  --cor0: #001B40;
  --cor1: #0056B3;
  --cor2: #007BFF;
  --cor3: #AD2D01;
  --cor4: #F24405;
  --cor5: #FFAA82;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header a{
    background-color: var(--cor1);
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #333;
}

body {
  background: linear-gradient(to right, var(--cor4), var(--cor5));
  overflow-x: hidden;
}

#catalogo {
    padding: 3rem 1rem;
    background: #f4f4f4;
    text-align: center;
  }
  
  #catalogo h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .grid-produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card-produto {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card-produto:hover {
    transform: translateY(-5px);
  }
  
  .card-produto img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .card-produto h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-produto p {
    font-size: 0.95rem;
    color: #555;
  }
  
  .card-produto .botao {
    display: inline-block;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .card-produto .botao:hover {
    background-color: #0056b3;
  }

  footer {
    background-image:linear-gradient(to right, var(--cor0));
    border-radius: 10px 10px 0 0;
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: #fff;
  }
  footer p {
    margin-bottom: 1rem;
  }
  footer .social {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  footer .social img {
    height: 3.5em;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  
  